<%= @snack.name %>
<%= @snack.price %>
<h1><% @machines.each do |machine| %>
 <p>location:  <%= machine.location %></p>
  <p>average price: <%= machine.snacks.average_price %></p>
  <p>snack count: <% @snack.machines.each do |machine|%></p>
  <%= machine.snacks.count %>
  <% end %>

  <% end %>
  average price:<%= Snack.average_price %>
